.game {
	width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #E0E0E0;
	text-align: center;
}
.controls {
	border-top: 1px solid #E0E0E0;
	padding: 20px 0 0;
}

#drinkToggle {
    display: none;
  }
  
  #drinkToggle:target {
    display: block;
  }

  img {
    padding: 5px;
    width: 160px;
  }