.game {
  width: 400px;
  height: 600px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #E0E0E0;
  text-align: center;
  position: relative
}
#controls {
	border-top: 1px solid #E0E0E0;
  padding-top: 350px;
}

#cardResult {
  float: left;
  padding-top: 5px;
}

#UsedCardResult {
  float: right;
  padding-top: 5px;
}

.currentCard {
  float: left;
}

.previousCard {
  float: right; 
}

#drinkToggle {
    display: none;
  }
  
  #drinkToggle:target {
    display: block;
  }

  img {
    padding: 5px;
    width: 160px;
  }
 